@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}
.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared-Styles */
.hide{
    display: none;
}



/* Nav-Styles */
.nav-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 186px;
    margin: 20px 140px;
}
.nav-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}
.nav-img{
    width: 62px;
    height: 62px;
}
.nav-title{
    font-size: 2rem;
    font-weight: bold;
    color: #111111;
}
.nav-ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.nav-ul a{
    text-decoration: none;
}
.nav-home{
    font-size: 1.25rem;
    font-weight: bold;
    color: #FEA301;
}
.nav-about{
    font-size: 1.25rem;
    font-weight: 500;
    color: #01ACFD;
}
.nav-facilities{
    font-size: 1.25rem;
    font-weight: 500;
    color: #05D4DF;
}
.nav-admission{
    font-size: 1.25rem;
    font-weight: 500;
    color: #5D58EF;
}
.nav-btn{
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #FEA301;
    padding: 10px 60.5px;
    border: none;
    border-radius: 12px;
}


/* for responsive added alternate nav bar */
.nav-name-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid;
    padding: 12px 16px;
    color: #FEA301;
}
.nav-img{
    width: 46px;
    height: 46px;
    margin-left: 16px;
}
.nav-icon{
    width: 30px;
    height: 30px;
    margin-right: 16px;
}


/* Banner-sec-styles */
.banner-text{
    grid-area: banner-text;
}
.banner-img{
    grid-area: banner-img;
}
.banner-sec{
    display:grid;
    grid-template-areas: 
    "banner-text    banner-img"
    ;
    gap: 50px;
    max-width: 1158.61px;
    margin: 0 auto;
}
.banner-text{
    width: 640px;
    height: 331px;
    padding: 112px 0;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 24px;
}
#Empowering{
    color: #FEA301;
}
#towards{
    color: #01ACFD;
}
.banner-description{
    font-size: 1.25rem;
    color: #111111;
    margin-bottom: 24px;

}
.banner-btn{
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 47px;
    background-color: #111111;
    border: none;
    border-radius: 12px;
}
.banner-img{
    width: 468.61;
    height: 575px;
}


/* Curriculum-Styles */
.curriculum-sec{
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width: 100%;
}
.sec-title{
    font-size: 2.875rem;
    font-weight: bold;
    color: #000000;
    margin-top: 60px;
    margin-bottom: 80px;
    text-align: center;
}
.curriculum-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28.29px;
    max-width: 1160px;
    margin: 0 auto;
}
.curriculum-item{
    border: 0.94px solid;
    border-radius: 18.86px;
    text-align: center;
    padding: 52.82px 40.67px 53.76px 40.88px;
}
.cu-img{
    margin-bottom: 32.7px;
}
.title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #202020;
    margin-bottom: 33.48px;
}
.description{
    font-size: 1rem;
    font-weight: 500;
    color: #808080;
    margin-bottom: 33.95px;
}
.link-1{
    font-size: 1rem;
    font-weight: bold;
    color: #64C8FF;
}
.link-2{
    font-size: 1rem;
    font-weight: bold;
    color: #F0AA00;
}
.link-3{
    font-size: 1rem;
    font-weight: bold;
    color: #8700FF;
}
.curriculum-item a{
    text-decoration: none;
}
#c-item-1{
    border-color: #DEF5FF;
    background-image: linear-gradient(#DEF5FF 0%, #FFFFFF 40%)
}
#c-item-2{
    border-color: #FFF4DC;
    background-image: linear-gradient(#FFF4DC 0%, #FFFFFF 40%)
}
#c-item-3{
    border-color: #F2E8FF;
    background-image: linear-gradient(#EEE1FF 0%, #FFFFFF 40%)
}
.cu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 80px;
    margin-bottom: 60px;
}
.arrow-btn{
    font-size: 1.5rem;
    font-weight: 800;
    padding: 17px 25px;
    color: #FFFFFF;
    background-color: #FEA301;
    border: none;
    border-radius: 50%;
}




/* Stories-Styles */

.story-sec{
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(#FFFFFF 0%, #FFEDCE 50%)   
}
.bg{
    background-image: url(../assets/bg.png);
}
.story-cards{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 18.73px;
    margin-left: 140px;
    margin-right: 140px;
}
.story-card{
    background-color: #FFFFFF;
    border: none;
    border-radius: 16px 16px;
    max-width: 290.69px;
    max-height: 301.61px;
}
.card-img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.card-heading{
    font-size: 0.958rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 33.55px;
    margin-right: 38.35px;
    margin-left: 37.91px;
    margin-right: 54.75px;
}
.container-2{
    display: flex;
    flex-direction: column;
}
.container-3{
    display: flex;
    flex-direction: column;
}
.container-4{
    display: flex;
    flex-direction: column;
}
.container-5{
    display: flex;
    flex-direction: column;
}
.card-1{
    grid-row-start: 1;
    grid-row-end: 3;
    border: none;
    max-width: 540.27px;
    max-height: 630.52px;
    border-radius: 16px;
    background-color: #FFFFFF;
}
.container{
    display: flex;
    flex-direction: column;
}
.story-img{
    margin: 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.story-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 47.93px;
    margin-right: 38.35px;
    margin-left: 38.35px;
}
.story-description{
    font-size: 0.958rem;
    font-weight: 500;
    color: #666666;
    max-width: 433.06px;
    max-height: 75.74px;
    margin-left: 38.55px;
}

/* challenge-button */
.color-1{
    background-color: #F0AA00;
    padding: 14.38px 18.88px 15.34px 19.17px;
    font-size: 0.958rem;
    color: #FFFFFF;
    border: none;
    border-radius: 47.93px;
    margin-top: -30px;
    max-width: 174.51px;
    max-height: 47.93px;
    margin-left: 38.35px;
    margin-bottom: 33.55px;
}
.date{
    background-color: #F0AA00;
    padding: 14.38px 18.88px 14.38px 19.17px;
    font-size: 0.958rem;
    color: #FFFFFF;
    border: none;
    border-radius: 47.93px;
    max-width: 174.51px;
    max-height: 38.35px;
    margin-top: -20px;
    margin-left: 38.35px;
    margin-bottom: 25px;
}

.color-2{
    background-color: #01ACFD;
}
.color-3{
    background-color: #3CD8E8;
}
.color-4{
    background-color: #8700FF;
}
.color-5{
    background-color: #95B226;
}
.card-heading{
    font-size: 0.958rem;
    font-weight: bold;
    color: #000000;
}
.story-btn{
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #111111;
    padding: 10px 60.5px;
    border: none;
    border-radius: 12px;
    max-width: 197px;
    max-height: 50px;
    margin-top: 80px;
    margin-right: 50px;
    margin-left: -80px;
}
.story-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 50px;
}
.flex{
    display: flex;
    flex-direction: column;
}


/* Footer-style */
.footer{
    max-width: 1439px;
    max-height: 519px;
    background-color: #01ACFD;
    margin: 0 auto;
}
.footer-sec{
    display: flex;

}
.footer-left div{
    display: flex;
    align-items: center;
    margin-left: 140px;
    margin-top: 123px;
    margin-bottom: 35.35px;
}
.foot-left-title{
    font-size: 2.633rem;
    font-weight: bold;
    color: #FFFFFF;
    max-width: 206.11px;
}
.foot-left-img{
    max-width: 82.9px;
    max-height: 81.65px;
    margin-right: 10.7px;
}
.foot-description{
    font-size: 1.25rem;
    color: #FFFFFF;
    max-width: 399.02px;
    margin-left: 147px;
    margin-bottom: 179px;
}

.footer-mid{
    margin-top: 123px;
    margin-left: 172px;
}
.foot-mid-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.foot-mid-ul{
    list-style: none;
    font-size: 1.25rem;
    font-weight: 500px;
    color: #FFFFFF;
}
.foot-mid-ul li{
    margin-bottom: 20px;
}

.footer-right{
    margin-top: 127px;
    margin-left: 143px;
}
.foot-right-title{
    font-size: 1.625rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.foot-img-container img{
    margin-right: 10.15px;
}






/* media query for i-phone 14 */
@media screen and (max-width:390px) {
    .nav-sec{
        display: none;
    }
    
    body{
        margin: 0;
    }
    
    
    /* banner-styles */
    .banner-sec{
        display:grid;
        grid-template-areas: 
        "banner-img"
        "banner-text"
        ;
        gap: 20px;
        margin: 0px 0px;
        display: none;
    }
    .banner-img{
        padding-top: 20px;
        padding-left: 10.21px;
        padding-right: 10.21px;
    }
    .banner-text{
        text-align: center;
        width: 357px;
        height: 252px;
        padding: 0;
    }
    .hero-1{
        display: none;
    }
    

        /* Curriculum-responsive */
    .curriculum-items{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 16.5px;
        margin-right: 16.5px;
    }
    .sec-title{
        font-size: 1.625rem;
        margin-bottom: 20px;
    }
    .cu-btn{
        display: none;
    }
    .title{
        font-size: 1rem;
    }
    .description{
        font-size: 0.638rem;
    }
    .cu-img{
        max-width: 88.49px;
        max-height: 75.79px;
    }
    .link-1{
        font-size: 0.638rem;
    }


    /* Stories-styles */
    .sec-title{

    }
    .card-1{
        display: none;
    }
    .story-cards{
        grid-template-columns: repeat(2, 1fr);
        max-width: 358px;
    }
    .story-card{
        max-width: 173.09px;
        max-height: 179.59px;
    }
    .card-heading{
        font-size: 0.570rem;
        margin-bottom: 17.12px;
        margin-right: 23.1px;
        margin-left: 22.57px;
    }
    .date{
        padding: 5.71px 11.24px 6.28x 11.42px;
    font-size: 0.570rem;
        max-width: 103.91px;
    max-height: 22.83px;
    margin-top: -20px;
    margin-left: 22.83px;
    margin-bottom: 11.42px;
    }
    .story-btn{
        font-size: 1rem;
        padding: 0 37px;
        margin-left: 80px;
        margin-left: 0;
        margin-right: 0;
    }

    .footer{
        max-width: 390px;
        max-height: 100%;
        /* max-height: 642px; */
    }
    .footer-sec{
        flex-direction: column;
    }
    .foot-left-title{
        font-size: 2.233rem;
    }
    .footer-left div{
        margin-top: 65PX;
        margin-left: 16PX;
        margin-bottom: 22.77px;
    }
    .foot-description{
        max-width: 357PX;
        margin-left: 21px;
        margin-bottom: 0;
        font-size: 1rem;
    }
    .footer-mid{
        margin-top: 32px;
        margin-left: 20px;
    }
    .foot-mid-title{
        font-size: 1.271rem;
        margin-bottom: 27.57px;
    }
    .footer-right{
        margin-top: 31.98px;
        margin-left: 21px;
    }
    .foot-right-title{
        margin-bottom: 36.96px;
        font-size: 1.4rem;
    }
}



@media screen and (min-width:390px) {
    .nav-name-2{
        display: none;
    }
    .hero-2{
        display: none;
    }
}